#about {
    padding: 40px 0;
    width: 100%;
    height: auto;
    background: #F1F1F1;
}

#about span {
    font-weight: bold;
    line-height: 3;
}

#about h1 {
    margin-bottom: 30px;
    text-align: center;
}

#about h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.about-foto {
    display: flex;
    width: 45%;
    padding-bottom: 45%;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.about-person:nth-child(even) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-person .first {
    flex-shrink: 0;
    background-image: url("../img/about-foto1.jpg");
}

.about-person:nth-child(odd) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-person .second {
    flex-shrink: 0;
    background-image: url("../img/about-foto2.jpg");
}

@media screen and (min-width: 768px) {
    #about h1 {
        text-align: unset;
    }

    .about-foto {
        width: 30%;
        padding-bottom: 30%;
    }

    .about-person:nth-child(even) {
        flex-direction: row;
    }

    .about-person .first {
        margin: 0 20px 0 14px;
    }

    .about-person:nth-child(odd) {
        flex-direction: row-reverse;
        text-align: right;
    }

    .about-person .second {
        margin: 0 14px 0 30px;
    }

    @media screen and (min-width: 992px) {
        #about h1 {
            text-align: unset;
        }

        .about-foto {
            display: flex;
            width: 22%;
            padding-bottom: 22%;
        }
    }
}
