#offer {
    padding: 40px 0;
    background: #405D78;
}

#offer h1 {
    margin-bottom: 80px;
    color: white;


    font-size: 26px;
    /*margin-left: 22px;*/
    text-align: center;
}

.box-offer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    /*grid-column-gap: 2%;*/
    grid-row-gap: 46.8px;
    width: 85%;
    margin: 0 auto;
}

.box-offer > div:after {
    content: "";
    display: block;
    background: #F1F1F1;
    padding-bottom: 100%;
}

.box-offer > div {
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

.box-offer .box-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 24px;
    line-height: 20px;
}

.box-offer .box-content span {
    font-size: 18px;
}

.box-new:before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    top: -11px;
    left: -11px;
    background: #E07A64;
    border-radius: 50%;
}

@media screen and (min-width: 768px) {
    #offer {
        padding: 100px 0;
    }
    #offer h1 {
        margin-left: 55px;
    }

    .box-offer {
        grid-template-columns: 48% 48%;
        grid-row-gap: 4%;
        grid-column-gap: 4%;
        width: 75%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) {
    .box-offer {
        grid-template-columns: 29% 29% 29%;
        grid-row-gap: 5%;
        grid-column-gap: 5%;
        width: 80%;
        margin: 0 auto
    }
    .box-offer > div:hover {
        transform: scale(1.05);
        transition-duration: 0.8s;
    }
}
